@model WebApp.Models.Employee
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle"
                 src="../../dist/img/user4-128x128.jpg"
                 alt="User profile picture">
        </div>

        <h3 class="profile-username text-center">@ViewBag.result.firstName @ViewBag.result.lastName</h3>

        <p class="text-muted text-center">@ViewBag.result.role</p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Followers</b> <a class="float-right">1,322</a>
            </li>
            <li class="list-group-item">
                <b>Score</b> <a class="float-right">@ViewBag.score</a>
            </li>

        </ul>

    </div>
    <!-- /.card-body -->
</div>

